In [1]:

# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("practice 2") \
      .getOrCreate() 

spark

In [2]:
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
df = spark.createDataFrame(data,columns)
df.show()

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
|    3|The purpose of ou...|
|    4|            Be cool.|
+-----+--------------------+

#### <center> show() : </center>

##### Syntax : def show(self, n=20, truncate=True, vertical=False)
  * By default, it shows only 20 Rows, and the column values are truncated at 20 characters.
  * truncate = True - truncate content of column at 20 characters, make it FALSE to see full content
  * vertical = False - show columns horizontally, make it TRUE to see columns

In [3]:
df.show(2,truncate = 30)

+-----+------------------------------+
|Seqno|                         Quote|
+-----+------------------------------+
|    1|Be the change that you wish...|
|    2|Everyone thinks of changing...|
+-----+------------------------------+
only showing top 2 rows

In [4]:
df.show(2,truncate = False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
+-----+-----------------------------------------------------------------------------+
only showing top 2 rows

In [5]:
df.show(2,vertical = False)

+-----+--------------------+
|Seqno|               Quote|
+-----+--------------------+
|    1|Be the change tha...|
|    2|Everyone thinks o...|
+-----+--------------------+
only showing top 2 rows

In [6]:
df.show(2,vertical = True)

-RECORD 0---------------------
 Seqno | 1
 Quote | Be the change tha...
-RECORD 1---------------------
 Seqno | 2
 Quote | Everyone thinks o...
only showing top 2 rows

In [7]:
df.show(2,vertical = True,truncate = False)

-RECORD 0------------------------------------------------------------------------------
 Seqno | 1
 Quote | Be the change that you wish to see in the world
-RECORD 1------------------------------------------------------------------------------
 Seqno | 2
 Quote | Everyone thinks of changing the world, but no one thinks of changing himself.
only showing top 2 rows

#### <center> take(n) : </center>

In [8]:
df.take(3)

[Row(Seqno='1', Quote='Be the change that you wish to see in the world'),
 Row(Seqno='2', Quote='Everyone thinks of changing the world, but no one thinks of changing himself.'),
 Row(Seqno='3', Quote='The purpose of our lives is to be happy.')]

#### <center> select() : </center>

In [9]:
data = [(("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]


from pyspark.sql.types import StructType,StructField, StringType 

schema = StructType([
    StructField('name', StructType([
         StructField('firstname', StringType(), True),
         StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
         ])),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
     ])

df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False) # shows all columns

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+-----+------+
|name                  |state|gender|
+----------------------+-----+------+
|{James, null, Smith}  |OH   |M     |
|{Anna, Rose, }        |NY   |F     |
|{Julia, , Williams}   |OH   |F     |
|{Maria, Anne, Jones}  |NY   |M     |
|{Jen, Mary, Brown}    |NY   |M     |
|{Mike, Mary, Williams}|OH   |M     |
+----------------------+-----+------+

In [10]:
# Select All columns
df.select([col for col in df.columns]).show(3)

df.select("*").show(3)

+--------------------+-----+------+
|                name|state|gender|
+--------------------+-----+------+
|{James, null, Smith}|   OH|     M|
|      {Anna, Rose, }|   NY|     F|
| {Julia, , Williams}|   OH|     F|
+--------------------+-----+------+
only showing top 3 rows

+--------------------+-----+------+
|                name|state|gender|
+--------------------+-----+------+
|{James, null, Smith}|   OH|     M|
|      {Anna, Rose, }|   NY|     F|
| {Julia, , Williams}|   OH|     F|
+--------------------+-----+------+
only showing top 3 rows

In [11]:

#Selects first 3 columns and top 3 rows
df.select(df.columns[:3]).show(3)

#Selects columns 2 to 4  and top 3 rows
df.select(df.columns[2:4]).show(3)

+--------------------+-----+------+
|                name|state|gender|
+--------------------+-----+------+
|{James, null, Smith}|   OH|     M|
|      {Anna, Rose, }|   NY|     F|
| {Julia, , Williams}|   OH|     F|
+--------------------+-----+------+
only showing top 3 rows

+------+
|gender|
+------+
|     M|
|     F|
|     F|
+------+
only showing top 3 rows

In [12]:
df.select("name.firstname","name.lastname").show(3,truncate=False)
df.select("name.*").show(3,truncate=False)

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Anna     |        |
|Julia    |Williams|
+---------+--------+
only showing top 3 rows

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|James    |null      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
+---------+----------+--------+
only showing top 3 rows

In [13]:
df.select('state','gender').show()

+-----+------+
|state|gender|
+-----+------+
|   OH|     M|
|   NY|     F|
|   OH|     F|
|   NY|     M|
|   NY|     M|
|   OH|     M|
+-----+------+

#### <center> collect() : </center>

In [14]:
df.collect()

[Row(name=Row(firstname='James', middlename=None, lastname='Smith'), state='OH', gender='M'),
 Row(name=Row(firstname='Anna', middlename='Rose', lastname=''), state='NY', gender='F'),
 Row(name=Row(firstname='Julia', middlename='', lastname='Williams'), state='OH', gender='F'),
 Row(name=Row(firstname='Maria', middlename='Anne', lastname='Jones'), state='NY', gender='M'),
 Row(name=Row(firstname='Jen', middlename='Mary', lastname='Brown'), state='NY', gender='M'),
 Row(name=Row(firstname='Mike', middlename='Mary', lastname='Williams'), state='OH', gender='M')]

In [15]:
dataCollect = df.collect()
print(dataCollect)

[Row(name=Row(firstname='James', middlename=None, lastname='Smith'), state='OH', gender='M'), Row(name=Row(firstname='Anna', middlename='Rose', lastname=''), state='NY', gender='F'), Row(name=Row(firstname='Julia', middlename='', lastname='Williams'), state='OH', gender='F'), Row(name=Row(firstname='Maria', middlename='Anne', lastname='Jones'), state='NY', gender='M'), Row(name=Row(firstname='Jen', middlename='Mary', lastname='Brown'), state='NY', gender='M'), Row(name=Row(firstname='Mike', middlename='Mary', lastname='Williams'), state='OH', gender='M')]

In [16]:
for row in dataCollect:
    print(row['state'] + "," +str(row['gender']))

OH,M
NY,F
OH,F
NY,M
NY,M
OH,M

In [17]:
dataCollect2 = df.select("name").collect()
print(dataCollect2)

[Row(name=Row(firstname='James', middlename=None, lastname='Smith')), Row(name=Row(firstname='Anna', middlename='Rose', lastname='')), Row(name=Row(firstname='Julia', middlename='', lastname='Williams')), Row(name=Row(firstname='Maria', middlename='Anne', lastname='Jones')), Row(name=Row(firstname='Jen', middlename='Mary', lastname='Brown')), Row(name=Row(firstname='Mike', middlename='Mary', lastname='Williams'))]

#### <center> printSchema() : </center>

In [18]:
df.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

#### <center> columns: </center>

In [19]:
df.columns

['name', 'state', 'gender']

#### <center> count() : </center>

In [20]:
df.count()

6

#### <center> describe() : </center>

In [21]:
df.describe().show()

+-------+-----+------+
|summary|state|gender|
+-------+-----+------+
|  count|    6|     6|
|   mean| null|  null|
| stddev| null|  null|
|    min|   NY|     F|
|    max|   OH|     M|
+-------+-----+------+

#### <center> toPandas() : </center>

In [22]:
print('Before applying toPandas() method \t',type(df))
    
print('After applying toPandas() method \t',type(df.toPandas()))

Before applying toPandas() method 	 <class 'pyspark.sql.dataframe.DataFrame'>
After applying toPandas() method 	 <class 'pandas.core.frame.DataFrame'>

#### <center> withColumn() : </center>

In [23]:
df.show()

+--------------------+-----+------+
|                name|state|gender|
+--------------------+-----+------+
|{James, null, Smith}|   OH|     M|
|      {Anna, Rose, }|   NY|     F|
| {Julia, , Williams}|   OH|     F|
|{Maria, Anne, Jones}|   NY|     M|
|  {Jen, Mary, Brown}|   NY|     M|
|{Mike, Mary, Will...|   OH|     M|
+--------------------+-----+------+

In [24]:
import pyspark.sql.functions as F # import functions to length formula

df=df.withColumn('newCol',F.length(df.state))

df.show()

+--------------------+-----+------+------+
|                name|state|gender|newCol|
+--------------------+-----+------+------+
|{James, null, Smith}|   OH|     M|     2|
|      {Anna, Rose, }|   NY|     F|     2|
| {Julia, , Williams}|   OH|     F|     2|
|{Maria, Anne, Jones}|   NY|     M|     2|
|  {Jen, Mary, Brown}|   NY|     M|     2|
|{Mike, Mary, Will...|   OH|     M|     2|
+--------------------+-----+------+------+

#### <center> filter() : </center>

In [25]:
df.filter(df.state.isin ('TX','NY')).show()

+--------------------+-----+------+------+
|                name|state|gender|newCol|
+--------------------+-----+------+------+
|      {Anna, Rose, }|   NY|     F|     2|
|{Maria, Anne, Jones}|   NY|     M|     2|
|  {Jen, Mary, Brown}|   NY|     M|     2|
+--------------------+-----+------+------+

In [26]:
df.filter(df.state.isin ('TX','NY') & df.gender.isin('f','F')).show()

+--------------+-----+------+------+
|          name|state|gender|newCol|
+--------------+-----+------+------+
|{Anna, Rose, }|   NY|     F|     2|
+--------------+-----+------+------+

#### <center> where() : </center>

In [27]:
df.where(df.state.isin ('TX','NY')).show()

+--------------------+-----+------+------+
|                name|state|gender|newCol|
+--------------------+-----+------+------+
|      {Anna, Rose, }|   NY|     F|     2|
|{Maria, Anne, Jones}|   NY|     M|     2|
|  {Jen, Mary, Brown}|   NY|     M|     2|
+--------------------+-----+------+------+

In [28]:
df.where(df.state.isin ('TX','NY') & df.gender.isin('f','F')).show()

+--------------+-----+------+------+
|          name|state|gender|newCol|
+--------------+-----+------+------+
|{Anna, Rose, }|   NY|     F|     2|
+--------------+-----+------+------+

#### <center> Grouping Data: </center>

In [29]:
df = spark.createDataFrame([
    ['red', 'banana', 1, 10], ['blue', 'banana', 2, 20], ['red', 'carrot', 3, 30],
    ['blue', 'grape', 4, 40], ['red', 'carrot', 5, 50], ['black', 'carrot', 6, 60],
    ['red', 'banana', 7, 70], ['red', 'grape', 8, 80]], 
    schema=['color', 'fruit', 'v1', 'v2'])
df.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [30]:
df.groupby('color').avg().show()

+-----+-------+-------+
|color|avg(v1)|avg(v2)|
+-----+-------+-------+
|  red|    4.8|   48.0|
|black|    6.0|   60.0|
| blue|    3.0|   30.0|
+-----+-------+-------+

In [31]:
def plus_mean(pandas_df):
    return pandas_df.assign(v1=pandas_df.v1 - pandas_df.v1.mean())


import pyarrow

df.groupby('color').applyInPandas(plus_mean,schema=df.schema).show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|black|carrot|  0| 60|
| blue|banana| -1| 20|
| blue| grape|  1| 40|
|  red|banana| -3| 10|
|  red|carrot| -1| 30|
|  red|carrot|  0| 50|
|  red|banana|  2| 70|
|  red| grape|  3| 80|
+-----+------+---+---+

#### <center> cogroup() : </center>

In [32]:
df1 = spark.createDataFrame(
    [(20000101, 1, 1.0), (20000101, 2, 2.0), (20000102, 1, 3.0), (20000102, 2, 4.0)],
    ('time', 'id', 'v1'))
df1.show()

df2 = spark.createDataFrame(
    [(20000101, 1, 'x'), (20000101, 2, 'y')],
    ('time', 'id', 'v2'))

df2.show()

+--------+---+---+
|    time| id| v1|
+--------+---+---+
|20000101|  1|1.0|
|20000101|  2|2.0|
|20000102|  1|3.0|
|20000102|  2|4.0|
+--------+---+---+

+--------+---+---+
|    time| id| v2|
+--------+---+---+
|20000101|  1|  x|
|20000101|  2|  y|
+--------+---+---+

In [33]:
import pandas as pd
def asof_join(l, r):
    return pd.merge_asof(l, r, on='time', by='id')

df1.groupby('id').cogroup(df2.groupby('id')).applyInPandas(
    asof_join, schema='time int, id int, v1 double, v2 string').show()

+--------+---+---+---+
|    time| id| v1| v2|
+--------+---+---+---+
|20000101|  1|1.0|  x|
|20000102|  1|3.0|  x|
|20000101|  2|2.0|  y|
|20000102|  2|4.0|  y|
+--------+---+---+---+

#### <center> createOrReplaceTempView to run SQL Queries:  </center>

In [34]:
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [35]:
df1.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+--------+---+---+
|    time| id| v1|
+--------+---+---+
|20000101|  1|1.0|
|20000101|  2|2.0|
|20000102|  1|3.0|
|20000102|  2|4.0|
+--------+---+---+

#### <center> writing Data: </center>

df.write.csv('foo.csv', header=True)
spark.read.csv('foo.csv', header=True).show()

df.write.parquet('bar.parquet')
spark.read.parquet('bar.parquet').show()

df.write.orc('zoo.orc')
spark.read.orc('zoo.orc').show()

# THE END